.course {


  .text1 {
    color: #FFF;
    text-align: center;
    font-family: Russo One;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
  }

  .courseText {
    align-items: center;
    width: 50%;
    z-index: 100;
  }

  .ellipse1 {
    position: absolute;
    right: 0;
    width: 421.347px;
    height: 446.621px;
    flex-shrink: 0;
    border-radius: 521.347px;
    background: linear-gradient(247deg, rgba(20, 0, 255, 0.50) 15.69%, rgba(217, 0, 252, 0.32) 81.51%);
    filter: blur(100px);
  }

  .ellipse2 {
    position: absolute;
    left: -20%;
    margin-top: 100px;
    width: 521.347px;
    height: 446.621px;
    transform: rotate(-22.557deg);
    flex-shrink: 0;
    border-radius: 521.347px;
    background: linear-gradient(247deg, rgba(20, 0, 255, 0.50) 15.69%, rgba(217, 0, 252, 0.32) 81.51%);

    filter: blur(100px);
  }



  .courseTitle {
    color: #FFF;
    margin-bottom: 50px;
    text-align: center;
    font-family: Russo One;
    font-size: 46px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 150px;
  }

  .courseInfo {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    z-index: 100;
  }

  img {
    z-index: 10;
  }

  .courseFooter {
    color: #D9D9D9;
    font-family: Russo One;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%; /* 43.5px */
    margin: 60px auto;
    width: 80%;
  }


  .href {
    color: #FAFF00;
    font-family: Russo One;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
    text-transform: uppercase;
    text-decoration: none;
  }
}




@media screen and (max-width: 500px) {
  .course {

    display: block;
    margin: 0 auto;

    .text1 {
      color: #FFF;
      position: relative;
      text-align: center;
      font-family: Russo One;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 145%; /* 21.75px */
      z-index: 1;
    }

    .ellipse1 {
      position: absolute;
      right: 0;
      width: 200.347px;
      height: 200.621px;
      flex-shrink: 0;
      border-radius: 521.347px;
      background: linear-gradient(247deg, rgba(20, 0, 255, 0.5) 15.69%, rgba(217, 0, 252, 0.32) 81.51%);
      filter: blur(100px);
    }


    .ellipse2 {
      height: 200px;
      width: 200px;
      margin-top: 300px;
    }



    img {
      width: 250px;
      height: 160px;
      margin-top: 60px;
    }

    .courseText {
      align-items: center;
      width: 80%;
      margin: 0 auto;
      z-index: 1;
    }

    .courseTitle {
      color: #FFF;
      text-align: center;
      font-family: Russo One;
      font-size: 30px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      z-index: 1;
      position: relative;
    }

    .courseInfo {
      display: block;
      margin: 0 auto;
    }

    .courseFooter {
      color: #D9D9D9;

      text-align: center;
      font-family: Russo One;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 145%; /* 29px */
    }


    .href {
      color: #FAFF00;
      font-family: Russo One;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 145%;
      text-transform: uppercase;
    }
  }
}