
.root {
  z-index: 100;
  position: relative;

  .formContainer {
    border-radius: 84px;
    background: #110F5E;
    margin: 0 auto;
    width: 90%;
    z-index: 10;
    position: relative;
  }

  .form {
    display: flex;
    flex-direction: column;
  }

  .formTitle {
    color: #FFF;

    text-align: center;
    font-family: Russo One;
    font-size: 46px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .ellipse1 {
    position: absolute;
    width: 430.043px;
    height: 513.739px;
    transform: rotate(171.925deg);
    flex-shrink: 0;
    left: -20%;
    border-radius: 513.739px;
    background: linear-gradient(247deg, rgba(219, 0, 255, 0.50) 15.69%, rgba(252, 0, 30, 0.32) 81.51%);
    z-index: 0;
    margin-top: 400px;
    filter: blur(100px);
  }

  .ellipse2 {
    width: 286.597px;
    right: 0;
    height: 290.078px;
    transform: rotate(171.925deg);
    flex-shrink: 0;
    border-radius: 290.078px;
    background: linear-gradient(247deg, rgba(219, 0, 255, 0.50) 15.69%, rgba(252, 0, 30, 0.32) 81.51%);
    position: absolute;
    filter: blur(100px);
  }

  .formText {
    color: #FFF;
    padding-top: 50px;
    text-align: center;
    font-family: Russo One;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .questions {
    color: #FFF;

    text-align: center;
    font-family: Russo One;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .nameInput {
    border-radius: 15px;
    background: #D9D9D9;
    width: 70%;
    color: #898989;

    text-align: center;
    font-family: Russo One;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    padding: 10px 10px;
    margin: 0 auto;
    outline: none;
    border: none;
  }

  .emailInput {
    border-radius: 15px;
    background: #D9D9D9;
    width: 70%;
    color: #898989;

    text-align: center;
    font-family: Russo One;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    padding: 10px 10px;
    margin: 30px auto;
    outline: none;
    border: none;
  }

  .textInput {
    border-radius: 15px;
    background: #D9D9D9;
    width: 70%;
    color: #898989;

    text-align: center;
    font-family: Russo One;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    padding: 10px 10px;
    margin: 0 auto;
    outline: none;
    border: none;
    min-height: 100px;
    justify-items: start;
    margin-bottom: 50px;
  }

  .submitButton {
    border-radius: 36px;
    background: var(--cyberpunk-gradient, linear-gradient(263deg, #FF0 13.57%, #00FFD1 83.02%));
    width: 273.121px;
    height: 60px;
    color: #000;
    border: 0;
    font-family: "Russo One";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    outline: none;
    margin: 0 auto;
    align-items: center;
    margin-bottom: 50px;
    opacity: 0.8;
    transition: all 1s ease-in-out;
  }

  .submitButton:hover {
    box-shadow: 2px 2px 2px 2px yellowgreen;
    opacity: 1;
    cursor: pointer;
  }
}

@media screen and (max-width: 500px) {
  .root {
    margin: 115px auto;

    .formContainer {
      border-radius: 0;
      background: #110F5E;
      padding: 40px 0;
      width: 100%;
    }

    .formTitle {
      color: #FFF;
      text-align: center;
      font-family: Russo One;
      font-size: 30px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    .nameInput {
      background: #D9D9D9;
      width: 85%;
      color: #898989;

      text-align: center;
      font-family: Russo One;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      padding: 10px 10px;
      margin: 0 auto;
      outline: none;
      border: none;
    }

    .emailInput {
      border-radius: 15px;
      background: #D9D9D9;
      width: 90%;
      color: #898989;

      text-align: center;
      font-family: Russo One;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      padding: 10px 0;
      margin: 30px auto;
      outline: none;
      border: none;
    }

    .formText {
      display: none;
    }

    .ellipse2 {
      width: 200px;
      transform: rotate(0);
      right: 0;
    }

    .textInput {
      border-radius: 15px;
      background: #D9D9D9;
      width: 90%;
      color: #898989;

      text-align: center;
      font-family: Russo One;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin: 0 auto;
      padding: 10px 0;
      outline: none;
      border: none;
      min-height: 200px;
      justify-items: start;
      margin-bottom: 50px;
    }

  }
}
