.root .formContainer {
  border-radius: 84px;
  background: #110F5E;
}
.root .form {
  display: flex;
  flex-direction: column;
}
.root .formTitle {
  color: #FFF;
  text-align: center;
  font-family: Russo One;
  font-size: 46px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.root .formText {
  color: #FFF;
  padding-top: 50px;
  text-align: center;
  font-family: Russo One;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.root .questions {
  color: #FFF;
  text-align: center;
  font-family: Russo One;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.root .nameInput {
  border-radius: 15px;
  background: #D9D9D9;
  width: 70%;
  color: #898989;
  text-align: center;
  font-family: Russo One;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  padding: 10px 10px;
  margin: 0 auto;
  outline: none;
  border: none;
}
.root .emailInput {
  border-radius: 15px;
  background: #D9D9D9;
  width: 70%;
  color: #898989;
  text-align: center;
  font-family: Russo One;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  padding: 10px 10px;
  margin: 30px auto;
  outline: none;
  border: none;
}
.root .textInput {
  border-radius: 15px;
  background: #D9D9D9;
  width: 70%;
  color: #898989;
  text-align: center;
  font-family: Russo One;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  padding: 10px 10px;
  margin: 0 auto;
  outline: none;
  border: none;
  min-height: 100px;
  justify-items: start;
  margin-bottom: 50px;
}
.root .submitButton {
  border-radius: 36px;
  background: var(--cyberpunk-gradient, linear-gradient(263deg, #FF0 13.57%, #00FFD1 83.02%));
  width: 273.121px;
  height: 60px;
  color: #000;
  border: 0;
  font-family: "Russo One";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  outline: none;
  margin: 0 auto;
  align-items: center;
  margin-bottom: 50px;
  opacity: 0.8;
  transition: all 1s ease-in-out;
}
.root .submitButton:hover {
  box-shadow: 2px 2px 2px 2px yellowgreen;
  opacity: 1;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .root {
    margin: 115px auto;
  }
  .root .formContainer {
    border-radius: 0;
    background: #110F5E;
    padding: 40px 0;
  }
  .root .formTitle {
    color: #FFF;
    text-align: center;
    font-family: Russo One;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .root .nameInput {
    background: #D9D9D9;
    width: 85%;
    color: #898989;
    text-align: center;
    font-family: Russo One;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 10px 10px;
    margin: 0 auto;
    outline: none;
    border: none;
  }
  .root .emailInput {
    border-radius: 15px;
    background: #D9D9D9;
    width: 90%;
    color: #898989;
    text-align: center;
    font-family: Russo One;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 10px 0;
    margin: 30px auto;
    outline: none;
    border: none;
  }
  .root .formText {
    display: none;
  }
  .root .textInput {
    border-radius: 15px;
    background: #D9D9D9;
    width: 90%;
    color: #898989;
    text-align: center;
    font-family: Russo One;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 auto;
    padding: 10px 0;
    outline: none;
    border: none;
    min-height: 200px;
    justify-items: start;
    margin-bottom: 50px;
  }
}

/*# sourceMappingURL=style.module.css.map */
