
.info {
  margin-top: 240px;
  padding: 20px;
  position: relative;

.titles {
  color: #FFF;
  text-align: center;
  display: block;
  font-family: Russo One;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 70%;
  z-index: 10;
  position: relative;
  margin: 0 auto;
}

  .dron1 {
    position: absolute;
    left: -100px;
    top: -80px;
  }

  .dron2 {
    position: absolute;
    right: -100px;
    top: 500px;
  }

  .dron3 {
    position: absolute;
    left: -100px;
    margin-top: 980px;
  }


  .ellipse1 {
    //position: absolute;
    //right: -100px;
    //top: -60px;
    width: 400.219px;
    height: 400.898px;
    //transform: rotate(-36.763deg);
    flex-shrink: 0;
    right: -100px;
    margin-top: -100px;
    border-radius: 591.898px;
    background: linear-gradient(45deg, rgba(173, 0, 255, 0.5) 15.69%, rgb(241 0 0 / 72%) 81.51%);
    filter: blur(100px);
    position: absolute;
  }

  .ellipse2 {
    position: absolute;
    left: -300px;
    margin-top: 150px;
    border-radius: 434.013px;
    background: linear-gradient(247deg, rgba(173, 0, 255, 0.5) 15.69%, rgb(255 0 0 / 60%) 81.51%);
    width: 434.013px;
    height: 417.612px;
    flex-shrink: 0;
    filter: blur(100px);
  }


.infofooterText {
  color: #FFF;
  margin-top: 80px;
  text-align: center;
  font-family: Russo One;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

}

@media screen and (max-width: 500px) {
  .info {
    margin-top: 300px;

    .titles {
      color: #FFF;
      text-align: center;
      font-family: Russo One;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }


    .dron1 {
      position: absolute;
      left: 0;
      top: 0;
      width: 100px;
    }

    .dron2 {
      position: absolute;
      right: 0;
      top: 500px;
      width: 100px;
    }

    .dron3 {
      position: absolute;
      left: 0;
      top: 0;
      width: 100px;
    }



    .ellipse1 {
      display: none;
    }

    .ellipse2 {
      display: none;
    }

    .infofooterText {
      color: #FFF;
      text-align: center;
      font-family: Russo One;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

    }
  }
}