
.info {
  margin-top: 140px;
  padding: 20px;


.titles {
  color: #FFF;
  text-align: center;
  font-family: Russo One;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.infofooterText {
  color: #FFF;
  margin-top: 80px;
  text-align: center;
  font-family: Russo One;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

}

@media screen and (max-width: 500px) {
  .info {
    margin-top: 300px;

    .titles {
      color: #FFF;
      text-align: center;
      font-family: Russo One;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    .infofooterText {
      color: #FFF;
      text-align: center;
      font-family: Russo One;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

    }
  }
}