.calendar {
  background-color: #650049;
}

.calendarTitle {
  color: #FFF;
  text-align: center;
  font-family: Russo One;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 20px;
}

.calendarForm {
  background: linear-gradient(180deg, #1A198A 0%, #000 100%);
  width: 1312px;
  height: 1118px;
  border-radius: 84px;
  margin-top: 70px;
}