.tabs {
  display: flex;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.register {
  border-radius: 30px;
  outline: none;
  border: 0;
  font-weight: 600;
  height: 60px;
  padding: 10px 20px;
  align-items: center;
  font-size: 16px;
  background: rgb(255, 248, 0);
  background: linear-gradient(263deg, rgba(255, 248, 0, 1) 13.57%, rgba(0, 255, 209, 1) 83%);
  color: black;
  cursor: pointer;
}


.tags {
  margin-right: 50px;
  color: white;
  font-size: 23px;
  cursor: pointer;
}

hr {
  background: linear-gradient(263deg, rgba(255, 248, 0, 1) 13.57%, rgba(0, 255, 209, 1) 83%);
}
