
.root {
  padding: 10px 0;
  position: fixed;
  width: 100%;
  background-color: #110F5E;
  z-index: 1;


  .menu {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
  }


  .burgerTabs {
    display: none;
  }

  .tabs {
    display: flex;
    width: 40%;
    justify-content: space-around;
  }

  .burgerImg {
    display: none;
  }

  .burgerMenu {
    display: none;
  }

  .register {
    border-radius: 30px;
    outline: none;
    border: 0;
    font-weight: 400;
    height: 60px;
    padding: 10px 20px;
    align-items: center;
    color: #000;

    font-family: Russo One;
    font-style: normal;
    line-height: normal;
    font-size: 20px;
    background: rgb(255, 248, 0);
    background: linear-gradient(263deg, rgba(255, 248, 0, 1) 13.57%, rgba(0, 255, 209, 1) 83%);
    color: black;
    cursor: pointer;
    box-shadow: yellowgreen;
    transition: all 0.5s ease-in-out;
    opacity: 0.8;
  }

  .register:hover {
    box-shadow: 5px 2px 5px 1px yellowgreen;
    opacity: 1;
  }


  .tags {
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: color 0.2s;
    color: #FFF;

    font-family: Russo One;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .tags:hover {
    color: #00ffc2;
  }

  hr {
    color: white;
    background: linear-gradient(263deg, rgba(255, 248, 0, 1) 13.57%, rgba(0, 255, 209, 1) 83%);
  }
}


  @media screen and (max-width: 450px) {
    .root {
      align-items: center;
      justify-content: space-around;
      position: fixed;
      width: 100%;
      background-color: #110F5E;
      z-index: 1;
      margin: 0 auto;

      .menu {
        display: none;
      }

      .burgerMenuHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
      }

      .burgerImg {
        width: 50px;
        height: 50px;
        display: block;
      }

      .logo {
        width: 50px;
        height: 50px;
      }
      .burgerMenu {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
      }

      .burgerTabs {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 100%;
        justify-content: space-around;
        text-align: center;
        align-items: center;
      }

      .tags {
        font-size: 15px;
        color: white;
        cursor: pointer;
        transition: color 0.2s;
        color: #FFF;
        font-family: Russo One;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      .tags:hover {
        color: #00ffc2;
      }
    }
  }
