.footer {
  border-radius: 84px;
  width: 100%;
  background: #110F5E;
  margin-top: 100px;
  padding: 20px 0;
}
.footer .footerMain {
  display: flex;
  justify-content: space-evenly;
}
.footer .footerText {
  text-align: left;
  align-items: flex-start;
  padding: 50px;
  color: #FFF;
  font-family: Russo One, serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 145%; /* 37.7px */
  width: 50%;
}
.footer .footerLeft {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer .socialwebs {
  display: flex;
  padding: 0 50px;
}
.footer .socialwebs img {
  margin-right: 20px;
  cursor: pointer;
}
.footer .secondlogo {
  padding: 50px 40px;
}
.footer .footerRight {
  padding: 65px 0;
  text-align: left;
  width: 20%;
}
.footer .footerName {
  color: #626262;
  font-family: Russo One;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 145%;
}
.footer .footerTabs {
  color: #FFF;
  font-family: Russo One;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 145%; /* 29px */
  text-transform: uppercase;
}
.footer .footerSectionName {
  transition: background-color 0.5s;
  font-size: 20px;
  transition: background-color 1s;
  font-family: Russo One;
}
.footer .logoSlogan {
  display: flex;
  align-items: center;
}
.footer .footerSlogan {
  color: #FFF;
  margin-left: -30px;
  font-family: Russo One;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 145%; /* 29px */
}
.footer .footerSectionName:hover {
  flex-shrink: 0;
  cursor: pointer;
  text-align: center;
  border: 2px;
  background-color: rgb(255, 0, 214);
}
.footer .footerSponsors {
  border-radius: 41px;
  background: #D9D9D9;
  padding: 50px;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  justify-items: center;
  display: flex;
  justify-content: space-between;
}
.footer .footerSponsors img {
  cursor: pointer;
}
.footer .footerRef {
  display: none;
}
.footer .footerLogo {
  display: none;
}

@media screen and (max-width: 500px) {
  .footer {
    flex-direction: column;
    padding: 0;
    display: flex;
    margin: 150px auto;
    margin-bottom: -10px;
    border-radius: 0;
  }
  .footer .footerMain {
    display: flex;
    flex-direction: column;
  }
  .footer .footerText {
    color: #FFF;
    margin: 0 auto;
    text-align: center;
    font-family: Russo One;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%; /* 29px */
  }
  .footer .footerRight {
    display: block;
    margin: 0 auto;
    margin-bottom: 0;
    width: 100%;
  }
  .footer .footerName {
    text-align: center;
  }
  .footer .footerSectionName {
    text-align: center;
    margin: 20px auto;
    width: 80%;
  }
  .footer .footerLogo {
    width: 67px;
    height: 67px;
  }
  .footer .footerTabs {
    margin: 0;
    text-align: center;
  }
  .footer .logoSlogan {
    display: none;
  }
  .footer .footerRef {
    color: #FFF;
    padding: 0;
    display: block;
    text-align: center;
    font-family: Russo One;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%; /* 17.4px */
  }
  .footer .socialwebs {
    margin: 0 auto;
    display: flex;
    padding: 0;
    width: 100%;
    justify-content: space-evenly;
  }
  .footer .socialwebs img {
    margin: 0;
  }
  .footer .footerSponsors {
    padding: 20px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
  }
  .footer .footerSponsors img {
    padding: 10px;
  }
}

/*# sourceMappingURL=style.module.css.map */
