.root {
  margin-top: 100px;

  span {
    color: #FFF;
    margin-bottom: 50px;
    text-align: center;
    font-family: Russo One;
    font-size: 46px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}