.App {
    text-align: center;
}


.container {
    margin: 0 auto;
    background: linear-gradient(#19168C,95%,#650049);
    padding: 20px 100px;
}


.container2 {
    margin: 0 auto;
    background: #650049;
    padding: 20px 100px;
}




















